# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Ignore Keil uVision project files
[Mm]dk-[Aa][Rr][Mm]/
*.uvguix.*
*.uvoptx
*.uvprojx
*.dep

# Ignore build outputs
*.axf
*.hex
*.bin
*.map
*.lst
*.htm
*.build_log.htm

# Ignore intermediate object files
*.o
*.d
*.crf
*.lnp